<!doctype html>
<html lang="en">
<!-- A Intro to Coding for Journalists class project -->

{% include "_partials/nav.njk" %}

{% include "_partials/jumbotron.njk" %}

<body>

  {% block content %}{% endblock %}

  {% include "_partials/footer.njk" %}

  <script src="js/jquery.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/scripts.js"></script>
</body>
</html>
