{% extends '_layouts/detail.njk' %}
{% block page_title %}Brian May{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
      {% block info %} 
      <img src="img/members/brian-may-color.jpg" alt="pirate character" class="img-fluid">
      <p class="byline">Brian May<br>
      {% endblock %}
    </div>
    <div class="col-sm-8">
      {% block story %}
      <h2>Brian May</h2>
        <ul>
          <li>name: Full printable name of the member</li>
          <li>instruments: A list of what they play.</li>
          <li>tenure: When they were in the band</li>
          <li>birthplace</li>
          <li>birthdate</li>
          <li>image: the filename of a color image of the band member.</li>
          <li>imagebw: the filename of a black and white image of the band member.</li>
          <li>text: This is a several paragraph description of the band member, in HTML.</li>
        </ul>
      {% endblock %}
      
    </div>
  </div>
</article>
{% endblock %}