{% extends '_layouts/base.njk' %}

{% block content %} 

<div class="container">
  <div class="row">
    <div class="col">
    <h1 style="text-align:center;">Queen</h1>
      <div class="band-members" style="text-align:center;">
        <a class="band-member-name" href="freddie-mercury.html">Freddie Mercury</a>
        &nbsp;&nbsp;&nbsp;
        <a class="band-member-name" href="brian-may.html">Brian May</a>
        &nbsp;&nbsp;&nbsp;
        <a class="band-member-name" href="john-deacon.html">John Deacon</a>
        &nbsp;&nbsp;&nbsp;
        <a class="band-member-name" href="roger-taylor.html">Roger Taylor</a>
        &nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <img src="img/queen-band-wallpaper-thin.jpg" alt="Queen Band" class="responsive">
      <p style="text-align:center">
       Following their debut in 1973, Queen, a completely different sort of band, was hailed as "a fresh, new breeze into the world of rock." The English group became best known for their flamboyant lead singer, the late Freddie Mercury, whose dramatic vocal style and outrageous onstage antics formed much of the band's reputation and personality—deservedly or not. Often overlooked are the band's considerable musical skill and their talent for songwriting—the original four members of Queen were responsible for an impressively imaginative and diverse body of work. @encyclopedia.com 
      </p>
    </div>
  </div>

<div id="discography">
        <h2 style="text-align:center;">Albums</h2>
        <ul>
           <li>
           <img class="mr-3" src="img/discs/Queen_Hot_Space.png" height="64" width="64" alt="Hot Space">
            <span class="nutri-item">Hot Space</span>
            <span class="nutri-value">| 1982</span>
            </li>
            <li>
            <img class="mr-3" src="img/discs/Queen_A_Kind_Of_Magic.png" height="64" width="64" alt="A Kind of Magic">
            <span class="nutri-item">A Kind of Magic</span>
            <span class="nutri-value">| 1986</span>
            </li>
            <li>
            <img class="mr-3" src="img/discs/Queen_The_Works.png" height="64" width="64" alt="The Works">
            <span class="nutri-item">The Works</span>
            <span class="nutri-value">| 1984</span>
            </li>
            <li>
            <img class="mr-3" src="img/discs/Queen_Innuendo.png" height="64" width="64" alt="Innuendo">
            <span class="nutri-item">Innuendo</span>
            <span class="nutri-value">| 1991</span>
            </li>
            <li>
            <img class="mr-3" src="img/discs/Queen_The_Miracle.png" height="64" width="64" alt="The Miracle">
            <span class="nutri-item">The Miracle</span>
            <span class="nutri-value">| 1989</span>
            </li>
            <li>
            <img class="mr-3" src="img/discs/Queen_Made_in_Heaven.jpg" height="64" width="64" alt="Made in Heaven">
            <span class="nutri-item">Made in Heaven</span>
            <span class="nutri-value">| 1995</span>
            </li>
            <li>
            <img class="mr-3" src="img/discs/Queen_Flash_Gordon.png" height="64" width="64" alt="Flash Gordon">
            <span class="nutri-item">Flash Gordon</span>
            <span class="nutri-value">| 1974</span>
            </li>
            <li>
            <img class="mr-3" src="img/discs/Queen_Jazz.png" height="64" width="64" alt="Jazz">
            <span class="nutri-item">Jazz</span>
            <span class="nutri-value">| 1978</span>
            </li>
            <li>
            <img class="mr-3" src="img/discs/Queen_News_Of_The_World.png" height="64" width="64" alt="News of the World">
            <span class="nutri-item">News Of The World</span>
            <span class="nutri-value">| 1977</span>
            </li>
            <li>
            <img class="mr-3" src="img/discs/Queen_The_Game.png" height="64" width="64" alt="The Game">
            <span class="nutri-item">The Game</span>
            <span class="nutri-value">| 1980</span>
            </li>
            <li>
            <img class="mr-3" src="img/discs/Queen_Queen.png" height="64" width="64" alt="Queen">
            <span class="nutri-item">Queen</span>
            <span class="nutri-value">| 1973</span>
            </li>
            <li>
            <img class="mr-3" src="img/discs/Queen_A_Day_at_the_Races.jpg" height="64" width="64" alt="A Day at the Races">
            <span class="nutri-item">A Day At The Races</span>
            <span class="nutri-value">| 1976</span>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

