{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1>Queen</h1>
    <p class="author">By {% for author in authors %}
      <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>{% if not loop.last %}{% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %} {% endfor %}
      <br> Published {{ publish_date }}
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
       Following their debut in 1973, Queen, a completely different sort of band, was hailed as "a fresh, new breeze into the world of rock." The English group became best known for their flamboyant lead singer, the late Freddie Mercury, whose dramatic vocal style and outrageous onstage antics formed much of the band's reputation and personality—deservedly or not. Often overlooked are the band's considerable musical skill and their talent for songwriting—the original four members of Queen were responsible for an impressively imaginative and diverse body of work. @encyclopedia.com 
      </p>
      <ul> 
        {% for book in data.books %}
          <li>{{ book.title }}, {{ book.author }}</li>
        {% else %}
          <li>This would display if the 'books' collection were empty</li>
        {% endfor %}
     </ul>
    </div>
  </div>


  
  <li class="media">
    <img class="mr-3" src="img/discs/Queen_A_Day_at_the_Races.jpg" height="64" width="64" alt="A Day at the Races">
    <div class="media-body">
      <h5 class="mt-0 mb-1">A Day at the Races</h5>
      1976
    </div>
  </li>
  <li class="media">
    <img class="mr-3" src="img/discs/Queen_Queen.png" height="64" width="64" alt="Queen">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Queen</h5>
      1973
    </div>
  </li>
  <li class="media">
    <img class="mr-3" src="img/discs/Queen_The_Game.png" height="64" width="64" alt="The Game">
    <div class="media-body">
      <h5 class="mt-0 mb-1">The Game</h5>
      1980
    </div>
  </li>
  <li class="media">
    <img class="mr-3" src="img/discs/Queen_News_Of_The_World.png" height="64" width="64" alt="News of the World">
    <div class="media-body">
      <h5 class="mt-0 mb-1">News of the World</h5>
      1977
    </div>
  </li>
  <li class="media">
    <img class="mr-3" src="img/discs/Queen_Jazz.png" height="64" width="64" alt="Jazz">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Jazz</h5>
      1978
    </div>
  </li>
  <li class="media">
    <img class="mr-3" src="img/discs/Queen_Flash_Gordon.png" height="64" width="64" alt="Flash Gordon">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Flash Gordon</h5>
      1974
    </div>
  </li>
  <li class="media">
    <img class="mr-3" src="img/discs/Queen_Made_in_Heaven.jpg" height="64" width="64" alt="Made in Heaven">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Made in Heaven</h5>
      1995
    </div>
  </li>
   <li class="media">
    <img class="mr-3" src="img/discs/Queen_The_Miracle.png" height="64" width="64" alt="The Miracle">
    <div class="media-body">
      <h5 class="mt-0 mb-1">The Miracle</h5>
      1989
    </div>
  </li>
   <li class="media">
    <img class="mr-3" src="img/discs/Queen_Innuendo.png" height="64" width="64" alt="Innuendo">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Innuendo</h5>
      1991
    </div>
  </li>
   <li class="media">
    <img class="mr-3" src="img/discs/Queen_The_Works.png" height="64" width="64" alt="The Works">
    <div class="media-body">
      <h5 class="mt-0 mb-1">The Works</h5>
      1984
    </div>
  </li>
   <li class="media">
    <img class="mr-3" src="img/discs/Queen_A_Kind_Of_Magic.png" height="64" width="64" alt="A Kind of Magic">
    <div class="media-body">
      <h5 class="mt-0 mb-1">A Kind of Magic</h5>
      1986
    </div>
  </li>
   <li class="media">
    <img class="mr-3" src="img/discs/Queen_Hot_Space.png" height="64" width="64" alt="Hot Space">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Hot Space</h5>
      1982
    </div>
  </li>
  </ul>

<div id="discography">
        <h2 style="text-align:center;">Albums</h2>
        <ul>
           <li>
            <span class="media">
            <img class="mr-3" src="img/discs/Queen_Hot_Space.png" height="64" width="64" alt="Hot Space">
            <span class="media-body">
            <h5 class="mt-0 mb-1">Hot Space</h5>
            1982
            </div>
            </li>
            <li>
            <span class="media">
            <img class="mr-3" src="img/discs/Queen_A_Kind_Of_Magic.png" height="64" width="64" alt="A Kind of Magic">
            <span class="media-body">
            <h5 class="mt-0 mb-1">A Kind of Magic</h5>
            1986
            </div>
            </li>
            <span class="nutri-item">Fat</span>
            <span class="nutri-value">44g (68%)</span>
            </li>
            <li>
            <span class="nutri-item">Protein</span>
            <span class="nutri-value">23g (46%)</span>
            </li>
            <li>
            <span class="nutri-item">Saturated Fat</span>
            <span class="nutri-value">8g (38%)</span>
            </li>
            <li>
            <span class="nutri-item">Sodium</span>
            <span class="nutri-value">902mg (38%)</span>
            </li>
            <li>
            <span class="nutri-item">Polyunsaturated Fat</span>
            <span class="nutri-value">8g</span>
            </li>
            <li>
            <span class="nutri-item">Fiber</span>
            <span class="nutri-value">4g (18%)</span>
            </li>
            <li>
            <span class="nutri-item">Monounsaturated Fat</span>
            <span class="nutri-value">25g</span>
            </li>
            <li>
            <span class="nutri-item">Cholesterol</span>
            <span class="nutri-value">111mg (37%)</span>
            </li>
        </ul>
    </div>


</div>
{% endblock %}

