{% extends '_layouts/base.njk' %}

{% block content %} 
<div class="container">
  <div class="row">
    <div class="col">
    <img src="img/queen-band-wallpaper-thin.jpg" alt="Queen Band" class="responsive">
      <p style="text-align:center; padding-top:50px">
       Following their debut in 1973, Queen, a completely different sort of band, was hailed as "a fresh, new breeze into the world of rock." The English group became best known for their flamboyant lead singer, the late Freddie Mercury, whose dramatic vocal style and outrageous onstage antics formed much of the band's reputation and personality—deservedly or not. Often overlooked are the band's considerable musical skill and their talent for songwriting—the original four members of Queen were responsible for an impressively imaginative and diverse body of work. @encyclopedia.com 
      </p>
    </div>
  </div>

<div id="discography">
 <h2 style="text-align:center; padding-top:50px">Albums</h2>
  <ul>
    {% for discography in data.discography %}
        <li>
        <img class="mr-3" src="img/discs/{{ discography.image }}" height="64" width="64">
        <span class="nutri-item">{{ discography.title }}</span>
        <span class="nutri-value">| {{ discography.year }}</span>
        </li>
    {% endfor %}
  </ul>
</div>
</div>

{% endblock %}



