{% extends '_layouts/detail.njk' %}
{% block page_title %}Roger Taylor{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
      {% block info %} 
      <img src="img/members/roger-taylor-bw.jpg" alt="Roger Taylor" class="img-fluid">
      <p class="byline">
          <p>Roger Meddows Taylor</p>
          <p>Instruments: Drums, percussion, keyboards, vocals</p>
          <p>Active Band Memeber: 1968–present</p>
          <p>Born in Norfolk, England on July 26, 1949</p>
      </p>  
      <img src="img/members/roger-taylor-color.jpg" alt="Roger Taylor" class="img-fluid"> 
      {% endblock %}
    </div>
    <div class="col-sm-8">
      {% block story %}
      <h2 style="text-align: center">Roger Taylor</h2>
          <p>Although best known for his powerhouse role in Queen, Roger Taylor is anything but a drummer confined to his kit. With rock n’roll in his veins all through his schooldays, he has always been a highly active, vocal member of Queen. He famously wrote Queen’s landmark hits Radio Ga Ga and A Kind Of Magic, and was also the first to make a solo album, 1981’s Fun In Space. To date he has released 5 solo albums, which, aside from his work with Queen, further highlighted Taylor as an musician and writer with a strong sense of identity, a wide musical perspective, and - not least of all - a man not without a sense of irony. Just consider, for instance, the lyrics to I’m In Love With My Car, his B side to Bohemian Rhapsody, and a firm audience favourite in the Queen live set.</p>
          <p>Taylor’s active approach has not been confined to his music: when media mogul Rupert Murdoch made attempts to buy Manchester United football club, Taylor funded the club supporters in their attempts to block the sale, and historically helped them succeed.</p>
          <p>His history in one of rock’s most famous bands begins in the late 60’s, the time when he first teamed up with Brian May, and later John Deacon and Freddie Mercury, to form Queen. But before that...
          Roger Taylor was born in Kings Lynn, Norfolk, on July 26th 1949, Roger became fascinated with music in the early 50s, when his family moved to Cornwall. He learned his first instrument, the ukulele, at a tender age, and enjoyed a brief taste of things to come in a pre-teen skiffle band whose collective talent survived just two public performances, both apparently excruciating!</p>
          <p>His music took on a different direction in 1960, when he became a rather reluctant member of the Truro Cathedral Choir -- a prerequisite of his scholarship. He taught himself the guitar around this time, but by the following year had moved over to drums.
          By 1966 Roger had not only progressed to drumming in Cornwall's most popular band, the Reaction, but had also become their lead singer, with his drum kit placed -- where else? -- in the principal position, at the front of the stage. That year, the Reaction won a hotly- contested local talent contest and, according to newspaper reports, were duly "mobbed by young girls".</p>
          <p>While maintaining his keen interest in music, Roger decided to study dentistry, and in 1967 moved to London to enrol at the London Hospital Medical College. He later studied biology, obtaining a BSc in the subject.</p>
          <p>In 1968 Roger formed another group, Smile, with Middlesex guitar ace Brian May. Smile played sporadically over the next few years and even issued a single in the United States. By 1971, Roger had long abandoned any desire to become a dentist or a biologist, and with new additions to the line-up John Deacon and Freddie Mercury, Smile became known as Queen.</p>
          <p>The Queen legend often refers to how Taylor and Mercury were particularly close, and spent many hours on the town together seeing bands who at that time were their heroes: The Jimi Hendrix Experience, Led Zeppelin, David Bowie, The Who, all of whom influenced them and helped shape the musical destiny of Queen.</p>
          <p>Roger began writing songs for Queen from day one, and each of the band's fifteen studio albums included at least one of his compositions. History notes that all four members of Queen wrote No.1 singles: Taylor dutifully provided his with Radio Ga Ga , A Kind Of Magic and These Are The Days Of Our Lives amongst his.</p>
          <p>In 2005, after an accidental encounter with former Free singer Paul Rodgers, Roger and Brian felt the time was right to put Queen back on the road. Billed as Queen + Paul Rodgers, Roger and Brian tested the water with a handpicked set of European dates. Such was the momentum built up over the six week European tour, a US tour was booked to follow, which saw Roger and Brian return to the USA to play for the first time in more than 20 years. The impact of the return to the road was summed up in a review of is closing night in Vancouver: “the night that arena rock officially made its comeback”.</p>
          <p>Roger returned to his solo career in late 2009 with the release of the single The Unblinking Eye. A new solo album emerged in 2013, the critically acclaimed Fun On Earth, plus a comprehensive box set called The Lot which covered all his solo material and work with The Cross.</p>
      {% endblock %}
      
    </div>
  </div>
</article>
{% endblock %}