<nav class="navbar navbar-expand-lg">
  {% for members in data.members %}
      <img src= "img/headshots/{{ members.imagehs }}" height="64" width="64" alt="Brian May" class="img-fluid">
      <a class="navbar-brand" href="{{ members.slug }}.html">{{ members.name }}</a>
  {% endfor %}
</nav>