<nav class="navbar navbar-expand-lg">
  <img src="img/headshots/Brian-May-Picture.png" height="64" width="64" alt="Brian May" class="img-fluid">
  <a class="navbar-brand" href="brian-may.html">Brian May</a>
  <img src="img/headshots/Freddie-Mercury-full-parsi-pinterest.png" height="64" width="64" alt="Freddie Mercury" class="img-fluid">
  <a class="navbar-brand" href="freddie-mercury.html">Freddie Mercury</a>
  <img src="img/headshots/E8B.png" height="64" width="64" alt="Roger Taylor " class="img-fluid">
  <a class="navbar-brand" href="roger-taylor.html">Roger Taylor</a>
  <img src="img/headshots/john-deacon-in-early-70s.png" height="64" width="64" alt="John Deacon" class="img-fluid">
  <a class="navbar-brand" href="john-deacon.html">John Deacon</a>
</nav>

