/* nav */

.navbar {
    margin-right: auto;    
    margin-left: auto;    
    width: 100%;    
    max-width: 100%;    
    min-width: 100px;
} 


a {
  padding-bottom: 25px;
  text-decoration: lightseagreen; 
  color: darkgoldenrod; 
}

h1 {
  padding-bottom: 25px;
}

p {
  text-align:center;
}

h2 {
  padding-bottom: 50px;
}
